VITE_API_BASE_URL=
VITE_APP_NAME=
VITE_USE_MOCK_DATA=
VITE_GOOGLE_FORM_ACTION_URL=https://docs.google.com/forms/d/e/1FAIpQLSdK3oOi1tgXijIXEMMaoTPuMLxI0l7TN86DQQJQFx1tWCAFfw/viewform?usp=publish-editor
VITE_GOOGLE_FORM_FIELD_NAME=Name
VITE_GOOGLE_FORM_FIELD_EMAIL=Email
VITE_GOOGLE_FORM_FIELD_PHONE=Phone
VITE_GOOGLE_FORM_FIELD_EDUCATION=Education
VITE_GOOGLE_FORM_FIELD_WORK_EXPERIENCE=Work Experience
